<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css"> 
  <!-- // this path is relative to public folder, because in index.js we have mentioned app.use(express.static("public"));
-->
  
  <title>Band Generator</title>
</head>

<body>
  <main>